
<mat-grid-list   [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <p class="number">{{nbrAdmin}}</p>
    <span class="type">{{'dashboard.administrateur' | translate}}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="number">{{nbrIntegrateur}}</p>
    <span class="type">{{'dashboard.integrateurs'| translate}}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="number">{{nbrCommerciaux}}</p>
    <span class="type">{{'dashboard.commerciaux' | translate}}</span>
  </mat-grid-tile>
  
  <!-- <mat-grid-tile>
    <p class="number">{{nbrAppli}}</p>
    <span class="type">{{'dashboard.applicationscrees' | translate}}</span>
  </mat-grid-tile> -->
  <!-- <mat-grid-tile>
    <p class="number">{{nbrModule}}</p>
    <span class="type">{{'dashboard.modules' | translate}} </span>
  </mat-grid-tile> -->
  <mat-grid-tile>
    <p class="number">{{nbrUser}}</p>
    <span class="type">{{'dashboard.utilisateur' | translate}} </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="number">{{nbrConnect}}</p>
    <span class="type">{{'dashboard.connectes' | translate}} </span>
  </mat-grid-tile>
</mat-grid-list>

