<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link href="assets/images/logo.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="assets/images/logo.png" />
        <br />
        <h3>
            <br />Page Not Found !</h3>
        <br />
        <a class="button" href="https://192.168.2.98:8443/industrialisation">Accéder au site Industrialisation.</a>
    </div>
</body>

</html>
