
.image{
  background: url("src/assets/images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
  @media only screen and (max-width: 600px) {
    div.Forgetpwd-container{
      display: block;
      margin: auto;
      width: 100%;
      padding: 2vh;
      background: white;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 768px) {
    div.Forgetpwd-container{
      display: block;
      margin: auto;
      width: 100%;
      padding: 2vh;
      background: white;
    }
  }
  @media only screen and (min-width: 992px) {
    div.Forgetpwd-container{
      display: block;
      margin: auto;
      width: 100%;
      padding: 2vh;
      background: white;
    }
  }
  @media only screen and (min-width: 1200px) {
    div.Forgetpwd-container{
      display: block;
      margin: auto;
      width: 100%;
      padding: 2vh;
      background: white;
    }
  }

  #test {
    background-image: url();
    background-size: cover;
    /* background: url(http://www.petite-annonce-gratuite.com/layout_images/carte-france.png) no-repeat; */
    width: 100%;
    height: 390px;
  }
  .centrer{
    text-align: center;
    margin: auto;
  }



  .center{
    margin-bottom: 2%;
    display: block;
    margin:auto;
    text-align: center;
  }

  .Forgetpwd-page{
    width: 100%;
    // background: white;
  }

  .Forgetpwd-spacer{
    height: 20vh;
  }
  .Forgetpwd-spacer1{
    height: 50vh;
  }

  .Forgetpwd-container{
  margin: auto;
  width: 400px;
  padding: 2vh;
  background: rgb(233, 217, 217);

    //background-color: rgb(184, 195, 207);
    /* background-color: rgb(184, 195, 207); */

  }

  .Forgetpwd-form{
    display: flex;
    flex-direction: column;
  }



  #lock-icon{
    line-height: 56px;
    color: #fff;
  }
  .card-heading{
    text-align: center;
    color: rgba(0, 0, 0, 0.31);
  }

  .buttons .Forgetpwd{
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .buttons .Forgetpwd > button{
    width: 100%;
  }

  .buttons .register{
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: space-between;
    margin: auto;
  }
  .image{
    height: 940px;
  }