<div class="container-fluid">
  <div class="row container-fluid">
    <span>{{'blockchain.ajouthash' | translate}}</span>
  </div>
  <div class="row container-fluid mt-3 " >
   <input  type="file" placeholder="Sélectionnez un ou des fichiers" #file style="display: none;"  (change)="onFilesAdded()"  />
    <div *ngIf="showprogress" class="container-fluid center">
      <span>{{'blockchain.veuillezpatientez' | translate}}</span>
      <div class="center mr-5 mt-5">
        <mat-spinner class="center" color="primary"></mat-spinner>
      </div>
    </div>
     <div class="container-fluid"  (click)="addFiles()">
       <div class="file_upload" style="margin: auto;">
         <div class="center">
           <mat-icon>get_app</mat-icon>
         </div>
         <div class="container-fluid file_titre" >
           {{'blockchain.fileblockchain' | translate}}
         </div>
         <div class="container-fluid file_name" *ngIf="ffile">
           {{ffile.name}}
 
         </div>
       </div>
     </div>
  </div>
  <div *ngIf="hashprogress" class="mt-2 container-fluid">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span>{{'blockchain.creationhash' | translate}} ...</span>
  </div>
  <div *ngIf="hash" class="row container-fluid mt-3">
    <div >{{'blockchain.hashblockchain' | translate}}</div>
    <code class="mt-1 container-fluid">{{hash}}</code>
  </div>
  <div  class="row container-fluid mt-2">
    <form class="container-fluid" [formGroup]="formGroup">
      <div *ngIf="hash" class="row container-fluid">
        <mat-form-field class="container-fluid" style="margin:auto;">
          <mat-label>{{'blockchain.filedescription'}}</mat-label>
          <textarea matInput formControlName="stblDescription" name="description"  cols="30" rows="5"></textarea>
        </mat-form-field>
      </div>

      <div  class="container-fluid mt-2">
        <button class="mr-2" *ngIf="hash" mat-raised-button color="primary" type="submit" (click)="onSubmit()">{{'btn.valider' | translate}}</button>
        <button  mat-raised-button color="warn" type="button" (click)="closeDialog()">{{'btn.fermer' | translate}}</button>

      </div>

    </form>
  </div>
</div>
