 
<div *ngIf="parambox=='uti'"> 
          <ng-template mat-tab-label>
              <mat-icon color="primary">portrait</mat-icon>&nbsp;
              {{'utilisateur.utilisateurs' | translate}}
          </ng-template>
          <mat-card class="">
              <mat-card-header class="card-header centrer">
                  <mat-card-title>{{'utilisateur.liste' | translate}}</mat-card-title>
                  <!-- <span class="header">{{'utilisateur.liste' | translate}}</span> -->
              </mat-card-header><br>
               
    
              <div class="">
                   
                  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
                      <!-- Position Column -->
                      <!-- <ng-container matColumnDef="utiId">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                          <td mat-cell *matCellDef="let element"> {{element.utiId}} </td>
                      </ng-container> -->
                      <!-- Name Column -->
                      <ng-container matColumnDef="utiPrenom">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.prenom' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.utiPrenom}} </td>
                      </ng-container>
                      <!-- Weight Column -->
                      <ng-container matColumnDef="utiNom">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'register.nom' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.utiNom}} </td>
                      </ng-container>
                      <ng-container matColumnDef="utiUsername">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.username' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.utiUsername}} </td>
                      </ng-container>
    
                      <ng-container matColumnDef="utiEmail">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.email' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.utiEmail}} </td>
                      </ng-container>
    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="proLibelle">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header="uti_pro_id">
                              {{'register.profil' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.uti_pro_id?.proLibelle}} </td>
                      </ng-container>
    
                  
    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
    
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
    
          </mat-card> 
    </div>
    <div *ngIf="parambox=='connect'">
      <mat-tab-group [selectedIndex]="tabIndex">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon color="primary">portrait</mat-icon>&nbsp;
                {{'utilisateur.utilisateurs' | translate}}
            </ng-template>
            <mat-card class="">
                <mat-card-header class="card-header centrer">
                    <mat-card-title>{{'utilisateur.liste' | translate}}</mat-card-title>
                    <!-- <span class="header">{{'utilisateur.liste' | translate}}</span> -->
                </mat-card-header><br>
              
                
      
                <div class="">
                  
                    <table mat-table class=" mat-elevation-z8" [dataSource]="dataSourceConnet" matSort>
                        <!-- Position Column -->
                        <!-- <ng-container matColumnDef="utiId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.utiId}} </td>
                        </ng-container> -->
                        <!-- Name Column -->
                        <ng-container matColumnDef="utiPrenom">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.prenom' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.utiPrenom}} </td>
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="utiNom">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'register.nom' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.utiNom}} </td>
                        </ng-container>
                        <ng-container matColumnDef="utiUsername">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.username' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.utiUsername}} </td>
                        </ng-container>
      
                        <ng-container matColumnDef="utiEmail">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'register.email' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.utiEmail}} </td>
                        </ng-container>
      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="proLibelle">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="uti_pro_id">
                                {{'register.profil' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.uti_pro_id?.proLibelle}} </td>
                        </ng-container>
      
                    
      
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsConnect"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsConnect"></tr>
                    </table>
      
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
      
            </mat-card>
      
        </mat-tab> 
      </mat-tab-group>
    
    </div>
   
    
    
    
    