

 
<div class="row"> 
  
  <div class="col-sm-12" *ngIf="profile.proLibelle=='administrateur' || profile.proLibelle=='Administrateur' || profile.proLibelle=='Administrateur fonctionnel' || profile.proLibelle=='administrateur fonctionnel' ||
   profile.proLibelle=='Integrateur' || profile.proLibelle=='integrateur' || profile.proLibelle=='commercial' || profile.proLibelle=='Commercial' || profile.proLibelle=='Business Analyst'">
   
<mat-card>
  <mat-card-content>
    <p><strong>Utilisateurs</strong></p>
    <div class="row" *ngIf = "!isShowUti" > 
    
  <div class="col-lg-3 col-md-6 col-sm-6">
   
    <div class="indus-card indus-card-stats">
      <a class="boxhover"  [routerLink]="['details/uti']"  > 
      <div class="indus-card-header indus-card-header-info indus-card-header-icon">
        <div class="indus-card-icon">
          <i class="fa fa-user-o fa-3x"></i>
        </div>
        <p class="indus-card-category">{{'dashboard.utilisateur' | translate}}</p>
        <h3 class="indus-card-title "><strong>{{nbrUser}}</strong>  
        </h3>
      </div>
      <div class="indus-card-footer">
        <div class="stats">   
          <span class="widgettextlink">details</span>
        </div>
      </div>
    </a>
    </div>
 
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="indus-card indus-card-stats">
      <a class="boxhover"  [routerLink]="['details/connect']"   >
      <div class="indus-card-header indus-card-header-info indus-card-header-icon">
        <div class="indus-card-icon">
          <i class="fa fa-laptop fa-3x"></i>
        </div>
        <p class="indus-card-category">{{'dashboard.connectes' | translate}}</p>
        <h3 class="indus-card-title"><strong>{{nbrConnect}}</strong>  </h3>
      </div>
      <div class="indus-card-footer">
        <div class="stats">
          <span class="widgettextlink">details</span>
        </div>
      </div>
    </a>
    </div>
  </div> 
</div>

<p><strong>Profils</strong></p>
      <div class="row"  *ngIf = "!isShowprof">
        
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let stat of stats">
          <div class="indus-card indus-card-stats">
            <a class="boxhover"  [routerLink]="['details/uti']" > 
            <div class="indus-card-header indus-card-header-info indus-card-header-icon">
              <div class="indus-card-icon">
                <i class="fa fa-folder fa-3x"></i>
              </div>
              <p class="indus-card-category">{{stat[0]}}(s)</p>
              <h3 class="indus-card-title"><strong>{{stat[1]}}</strong></h3>
            </div>
            <div class="indus-card-footer">
              <div class="stats"> 
                <span class="widgettextlink">details</span>
              </div>
            </div>
          </a>
          </div> 
        </div>
      </div>
 
       
      </mat-card-content> 
    </mat-card>
  </div>

  <!--<div class="col-sm-12" *ngIf="profile.proLibelle=='Integrateur' || profile.proLibelle=='integrateur'">
    <app-statfolder></app-statfolder>  
  </div>-->

  </div>

  
  <mat-card>
    <mat-card-content>
   
  <div class="row">
    <div class="col-lg-12 col-md-12" > 
    <div class="row" *ngIf="selecteddiagrammes?.length<=0">
    <div class="col-sm-6"   *ngFor="let w of widgets">

      <div  *ngIf="w.widgetTemplate.wtNom=='Diagramme en baton'">
        <app-statbaton></app-statbaton>
      </div>
     
      <div  *ngIf="w.widgetTemplate.wtNom=='courbe'" style="margin-top: 25px;">
        <app-appstatarea></app-appstatarea>
      </div>

         
      <div  *ngIf="w.widgetTemplate.wtNom=='Diagramme circulaire'">
        <app-appstatcirculaire></app-appstatcirculaire>
      </div> 

    <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en barres horizontales'" style="margin-top: 25px;">
        <app-appstathorizontal></app-appstathorizontal>
       </div> 

       <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en barres horizontales empilees'" style="margin-top: 25px;">
       <app-appstathoriempile></app-appstathoriempile>
       </div>

       <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en colonne empilée'" style="margin-top: 25px;">
        <app-appcolonneemp></app-appcolonneemp>
        </div>

        <div *ngIf="w.widgetTemplate.wtNom=='Diagramme à bulles'" style="margin-top: 25px;">
          <app-appstatbulle></app-appstatbulle>
          </div>

         <!-- <div *ngIf="w.widgetTemplate.wtNom=='Diagramme de dispersion 3D'" style="margin-top: 25px;">
            <app-app3d></app-app3d>
            </div>-->
    </div> 
</div>

<div class="row" *ngIf="selecteddiagrammes?.length>0">
<div class="col-sm-6"  *ngFor="let w of selecteddiagrammes">
  <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en baton'">
    <app-statbaton></app-statbaton>
  </div>

  <div *ngIf="w.widgetTemplate.wtNom=='courbe'" style="margin-top: 25px;">
    <app-appstatarea></app-appstatarea>
  </div>

  <div *ngIf="w.widgetTemplate.wtNom=='Diagramme circulaire'" style="margin-top: 25px;">
    <app-appstatcirculaire></app-appstatcirculaire>
  </div>

  <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en barres horizontales'" style="margin-top: 25px;">
   <app-appstathorizontal></app-appstathorizontal>
  </div>

  <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en barres horizontales empilees'" style="margin-top: 25px;">
    <app-appstathoriempile></app-appstathoriempile>
    </div>

    <div *ngIf="w.widgetTemplate.wtNom=='Diagramme en colonne empilée'" style="margin-top: 25px;">
      <app-appcolonneemp></app-appcolonneemp>
      </div>

      <div *ngIf="w.widgetTemplate.wtNom=='Diagramme à bulles'" style="margin-top: 25px;">
        <app-appstatbulle></app-appstatbulle>
        </div>

        <div *ngIf="w.widgetTemplate.wtNom=='Diagramme de dispersion 3D'" style="margin-top: 25px;">
          <app-app3d></app-app3d>
        </div>
</div>

</div>
</div> 
</div>
</mat-card-content> 
</mat-card>
<!-- <div *ngFor="let widget of widgets">

 <div *ngFor="let attr of widgetTemplateAttr">

    
     
    <div *ngIf="widget.wdgCode==attr.widget.wdgCode">  
      <div class="row" *ngIf="attr.widgetTemplate.wtNom=='Diagramme circulaire' || attr.widgetTemplate.wtNom=='Diagramme en baton' || attr.widgetTemplate.wtNom=='courbe'">
        <div class="col-sm-6"> -->
          <!-- <p>{{attr.widgetTemplate.wtNom}}</p> -->
          <!-- <p>{{attr.widgetTemplate.wtNom}}</p> -->
          <!-- <app-statbaton></app-statbaton>
        </div> -->

        <!-- <div class="col-sm-6">  -->
          <!-- <p>{{attr.widgetTemplate.wtNom}}</p> -->
          <!-- <app-appstatcirculaire></app-appstatcirculaire>
        </div> -->
         
        <!-- <div style="margin: 25px;">  -->
          <!-- <p>{{attr.widgetTemplate.wtNom}}</p> -->
          <!-- <app-appstatarea></app-appstatarea> -->
         
        <!-- </div> -->

        <!-- <div class="row" style="margin: 25px;" *ngIf="attr.widgetTemplate.wtNom=='Diagramme circulaire' || attr.widgetTemplate.wtNom=='Diagramme en baton' || attr.widgetTemplate.wtNom=='courbe'">
          <app-appstatarea></app-appstatarea>
        </div>

      </div>

    </div>
 </div>

</div> -->

  <!-- <div *ngIf="widget.wdgCode=='nbr_by_mdl'">
    <div class="row">
      <div class="col-sm-12">
        <app-stats> </app-stats>
      </div>

    </div>
  </div>
</div><br>
<div *ngFor="let widget of widgets">
  <div *ngIf="widget.wdgCode=='stats_costumer'">
    <div class="row">
      <div class="col-sm-12">
        <app-stats-costumer> </app-stats-costumer>
      </div>

    </div>
  </div>
</div>

<div *ngFor="let widget of widgets">
  <div *ngIf="widget.wdgCode=='list_uti'">
    <div class="row">
      <div class="col-sm-12">
        <app-stats-costumer> </app-stats-costumer>
      </div>

    </div>
  </div>
</div>


<br>
<div *ngIf="b && l">
    <div class="row" >
      <div class="col-sm-6">
          <app-wkform-courbe></app-wkform-courbe>
      </div>
      <div class="col-sm-6">
          <app-users-barre></app-users-barre>
      </div>
    </div>
    
</div>
<div *ngIf="b && !l ">
 
  <div class="row" >
    <div class="col-sm-6">
        <app-users-barre></app-users-barre>
    </div>
  </div>
</div>
<div *ngIf="l && !b">
  <div class="row" >
    <div class="col-sm-6">
      <app-wkform-courbe></app-wkform-courbe>
    </div>
  </div>
  
</div> -->


