 <div class="scroll">
 <mat-card-header>
    <mat-card-subtitle>Detail</mat-card-subtitle>

  </mat-card-header>
 <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12"><mat-label><strong>{{'inscription.profile' | translate}}</strong>:<img src="data:image/png;base64,{{result.profile}}" width="50"></mat-label><br>
        <hr><mat-label><strong>{{'inscription.prenom' | translate}}</strong></mat-label><mat-label>{{result.prenom}}</mat-label><br>
        <hr><mat-label><strong>{{'inscription.datenaiss' | translate}}</strong></mat-label><mat-label>{{result.datenaiss}}</mat-label><br>
        <hr><mat-label><strong>{{'inscription.nom' | translate}}</strong></mat-label><mat-label>{{result.nom}}</mat-label><br>
        <hr> </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="closeDialog()">{{'btn_fermer' | translate}}</button>

  </mat-card-actions>
</div>