// .avatar {
//     vertical-align: middle;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//   }
  .example-card {
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .foncer{
    font-style: initial;
    font-size: large;
  }