<section class="menu menu2 cid-sjq2uSAeZ4" once="menu" id="menu2-0">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
          <div class="navbar-brand">
              <span class="navbar-logo">
                  <a href="index.html#top">
                      <img *ngIf="appLogo" src="{{appLogo}}" alt="Logo" style="height: 3rem;">
                  </a>
              </span>
              <span *ngIf="!appLogo" class="navbar-caption-wrap"><a class="navbar-caption text-white text-primary display-7"
                      href="index.html#top">{{appName}}</a></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false"
              aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 2%;">
              <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                  <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                          href="index.html#content15-4">
                          {{'landing.apropos' | translate}}</a></li>
                  <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                          href="index.html#features3-5">
                          {{'landing.services' | translate}}</a></li>
                  <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                          href="index.html#content17-g">
                          FAQ</a></li>
                  <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                          href="index.html#form5-7">{{'landing.contact' | translate}}</a>
                  </li>
                  <li class="nav-item"><a class="nav-link link text-white text-primary display-4"
                          routerLink="/login">{{'landing.btnConnexion' | translate}}</a></li>
              </ul>

              <div class="navbar-buttons mbr-section-btn" style="margin-top: -3%;">
                  <a class="btn btn-primary display-4" routerLink="/inscription">
                      {{'landing.btnInscription' | translate}}</a>
              </div>

          </div>
      </div>
      <!-- <form [formGroup]="userForm">
          <div class="form">
             
              <select class="decorer" [(ngModel)]="currentLangue" #selectedLang
                  (change)="switchLang(selectedLang.value)" formControlName="uti_lng_id"
                  (change)="getLangueId(selectedLang.value)">
                  <option *ngFor="let language of Langues" [value]="language.lngLangue"
                      [selected]="language.lngLangue === translate.currentLang">
                      {{ language.lngLangue}}

                  </option>&nbsp;&nbsp;
              </select>
          </div>
      </form>&nbsp;&nbsp;&nbsp;&nbsp; -->
  </nav>
</section><br>
<section>
 

  <mat-tab-group>
    <mat-tab *ngIf="isBioActive">
      <ng-template mat-tab-label>
        <mat-icon color="primary">fingerprint</mat-icon>&nbsp;
          {{'utilisateur.digital' | translate}}
      </ng-template>
      <app-identification-digital></app-identification-digital>
    </mat-tab>
    <mat-tab *ngIf="isFaceActive">
      <ng-template mat-tab-label>
          <mat-icon color="primary">fullscreen</mat-icon>&nbsp;
          {{'utilisateur.reconnaissance' | translate}}
      </ng-template>
      <app-identification-user></app-identification-user>
  </mat-tab>
  </mat-tab-group>
</section>
