<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v5.2.0, https://mobirise.com -->

</head>

<body>

    <section class="menu menu2 cid-sjq2uSAeZ4" once="menu" id="menu2-0">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html#top">
                            <img *ngIf="appLogo" src="{{appLogo}}" alt="Logo" style="height: 3rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white text-primary display-7"
                            href="index.html#top">{{appName}}</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 2%;">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-white text-primary touti" 
                                href="index.html#content15-4">
                                {{'landing.apropos' | translate}}</a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary  touti"
                                href="index.html#features3-5">
                                {{'landing.services' | translate}}</a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary  touti"
                                href="index.html#content17-g">
                                FAQ</a></li>
                        <li *ngIf="appsPubliees?.length>0" class="nav-item"><a
                                class="nav-link link text-white text-primary touti" href="#app-gen">
                                {{'landing.applicationGenerees' | translate}}</a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary touti"
                                href="index.html#form5-7">{{'landing.contact' | translate}}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary touti"
                                (click)="goToLogin()">{{'landing.btnConnexion' | translate}}</a></li>
                                
                               
                    </ul>

                    <div class="navbar-buttons mbr-section-btn" style="margin-top: -3%;" *ngIf='boutonactive===true'>
                        <a class="btn btn-primary touti" (click)="openDialogInscription()" target="_blank">
                            {{'landing.btnInscription' | translate}}</a>
                    </div>

                </div>
            </div>
            <form [formGroup]="userForm">
                <div class="form">
                    <!-- <span class="mymargin">
                  </span>&nbsp; -->
                    <select class="decorer" [(ngModel)]="currentLangue" #selectedLang
                        (change)="switchLang(selectedLang.value)" formControlName="uti_lng_id"
                        (change)="getLangueId(selectedLang.value)">
                        <option *ngFor="let language of Langues" [value]="language.lngLangue"
                            [selected]="language.lngLangue === translate.currentLang">
                            {{ language.lngLangue}}
                            <!-- <mat-icon  [svgIcon]="language?.lngIcone" style="zoom: 1;"></mat-icon> -->

                        </option>&nbsp;&nbsp;
                    </select>
                </div>
            </form>&nbsp;&nbsp;&nbsp;&nbsp;
        </nav>
    </section>

    <section class="slider1 cid-smak60k9CB" id="slider1-d">

   <!-- <a class="mifloat" (click)="openChatbot()">
    <i class=""></i>
   <i class="fa fa-question-circle my-float"></i>
   </a> -->

   <app-chatbot color="primary"></app-chatbot>


   <!--gfggf-->

   <!--gfggfgfgf-->



   <!-- <app-chatbotui></app-chatbotui> -->



        <div class="carousel slide" id="smDyXkAP6j" data-interval="5000">
            <ol class="carousel-indicators">
                <li data-slide-to="0" class="active" data-target="#smDyXkAP6j"></li>
                <li data-slide-to="1" data-target="#smDyXkAP6j"></li>
                <li data-slide-to="2" data-target="#smDyXkAP6j"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item slider-image item active">
                    <div class="item-wrapper">
                        <img class="d-block w-100" [src]="retreivedImage1" *ngIf="retreivedImage1">
                        <img class="d-block w-100" *ngIf="!retreivedImage1" src="assets/images/demat-1000x667.jpg">

                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                <strong>{{'landing.titre1' | translate}}</strong>
                                <div><strong>{{'landing.description1' | translate}}</strong></div>
                            </h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">{{'landing.description2' | translate}}
                                <br>{{'landing.description3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-image item">
                    <div class="item-wrapper">
                        <img class="d-block w-100" [src]="retreivedImage2" *ngIf="retreivedImage2">
                        <img class="d-block w-100" *ngIf="!retreivedImage2" src="assets/images/iso.jpg">

                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5"> <strong>{{'landing.titre2' |
                                    translate}}</strong>
                                <div><strong>{{'landing.description1' | translate}}</strong></div>
                            </h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">{{'landing.description3' |
                                translate}}, <br>{{'landing.description4' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-image item">
                    <div class="item-wrapper">
                        <img class="d-block w-100" [src]="retreivedImage3" *ngIf="retreivedImage3">
                        <img class="d-block w-100" *ngIf="!retreivedImage3" src="assets/images/carte.jpg">


                        <div class="carousel-caption">
                            <h5 class="mbr-section-subtitle mbr-fonts-style display-5"><strong>{{'landing.titre2' |
                                    translate}}</strong>
                                <div><strong>{{'landing.description5' | translate}}</strong></div>
                            </h5>
                            <p class="mbr-section-text mbr-fonts-style display-7">{{'landing.description6' |
                                translate}}, <br>{{'landing.description7' | translate}}</p>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#smDyXkAP6j">
                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#smDyXkAP6j">
                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section class="content15 cid-sjqpP280iH" id="content15-4">




        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-10">
                    <div class="card-wrapper">
                        <div class="card-box align-left">
                            <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5">
                                <strong>A propos</strong>
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7">{{'landing.proposDescription' |
                                translate}}.<br></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <br><br>
    <section class="features3 cid-sjqrEQdFOK" id="features3-5">


        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>{{'landing.service' | translate}}</strong>
                </h4>

            </div>
            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-6">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img [src]="retreivedImage4" *ngIf="retreivedImage4" alt="">
                            <img *ngIf="!retreivedImage4" alt="" src="assets/images/file.png">

                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>{{'landing.serviceTitre' |
                                    translate}}</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-4">{{'landing.ServiceDescription' |
                                translate}}.</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a (click)="goToLogin()"
                                class="btn item-btn btn-primary display-7">{{'landing.ServiceDescription1' |
                                translate}}</a>
                        </div>
                    </div>
                </div>

                <div class="item features-image сol-12 col-md-6 col-lg-6">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img [src]="retreivedImage5" *ngIf="retreivedImage5" alt="" data-slide-to="1">
                            <img *ngIf="!retreivedImage5" alt="" src="assets/images/file.png">

                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>{{'landing.serviceTitre1' |
                                    translate}}</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-4">{{'landing.ServiceDescription2' |
                                translate}}.<br></p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a class="btn btn-primary item-btn display-7"
                                (click)="goToLogin()">{{'landing.ServiceDescription3' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="features23 cid-sman4cL6PI" id="features24-f">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card-wrapper mb-4">
                        <div class="card-box align-center">
                            <h4 class="card-title mbr-fonts-style mb-4 display-5">
                                <strong>{{'landing.etapeTitre' | translate}}</strong>
                            </h4>


                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item first mbr-flex p-4">
                        <div class="icon-wrap w-100">
                            <div class="icon-box">
                                <span class="step-number mbr-fonts-style display-5">1</span>
                            </div>
                        </div>

                        <div class="text-box">
                            <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                                <strong>{{'landing.etape1' | translate}}</strong>
                            </h4>
                            <!-- <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Mobirise is perfect for non-techies
                                who
                                are not familiar
                                with
                                the intricacies of web development.</h5> -->
                        </div>
                    </div>
                    <!-- <span mbr-icon class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span> -->
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item mbr-flex p-4">
                        <div class="icon-wrap w-100">
                            <div class="icon-box">
                                <span class="step-number mbr-fonts-style display-5">2</span>
                            </div>
                        </div>
                        <div class="text-box">
                            <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                                <strong>{{'landing.etape2' | translate}}</strong>
                            </h4>
                            <!-- <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Mobirise is perfect for non-techies
                                who
                                are not familiar
                                with
                                the intricacies of web development.</h5> -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="item mbr-flex p-4">
                        <div class="icon-wrap w-100">
                            <div class="icon-box">
                                <span class="step-number mbr-fonts-style display-5">3</span>
                            </div>
                        </div>
                        <div class="text-box">
                            <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                                <strong>{{'landing.etape3' | translate}}</strong>
                            </h4>
                            <!-- <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Mobirise is perfect for non-techies
                                who
                                are not familiar
                                with
                                the intricacies of web development.</h5> -->
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </section>

    <br>

    <section class="features3 cid-sjqrEQdFOK" id="features3-5">


        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>{{'landing.actualites' | translate}}</strong>
                </h4>

            </div><br>
            <div class="row">
                <div class="item features-image сol-12 col-md-4 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img [src]="retreivedImage8" *ngIf="retreivedImage8" alt="">
                            <img *ngIf="!retreivedImage8" alt="" src="assets/images/file.png">

                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>{{'landing.titreActualite1' |
                                    translate}}</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-4">{{'landing.actualite1' |
                                translate}}.</p>
                        </div>
                        <!-- <div class="mbr-section-btn item-footer mt-2"><a (click)="goToLogin()"
                                class="btn item-btn btn-primary display-7">{{'landing.ServiceDescription1' |
                                translate}}</a>
                        </div> -->
                    </div>
                </div>

                <div class="item features-image сol-12 col-md-4 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img [src]="retreivedImage9" *ngIf="retreivedImage9" alt="" data-slide-to="1">
                            <img *ngIf="!retreivedImage9" alt="" src="assets/images/file.png">

                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>{{'landing.titreActualite2' |
                                    translate}}</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-4">{{'landing.actualite2' |
                                translate}}.<br></p>
                        </div>
                        <!-- <div class="mbr-section-btn item-footer mt-2"><a class="btn btn-primary item-btn display-7"
                                (click)="goToLogin()">{{'landing.ServiceDescription3' | translate}}</a>
                        </div> -->
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-4 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img [src]="retreivedImage10" *ngIf="retreivedImage10" alt="" data-slide-to="1">
                            <img *ngIf="!retreivedImage10" alt="" src="assets/images/file.png">

                        </div>
                        <div class="item-content" style="height: 40%;">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>{{'landing.titreActualite3' |
                                    translate}}</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-4">{{'landing.actualite3' |
                                translate}}.<br></p>
                        </div>
                        <!-- <div class="mbr-section-btn item-footer mt-2"><a class="btn btn-primary item-btn display-7"
                                (click)="goToLogin()">{{'landing.ServiceDescription3' | translate}}</a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </section>
    <br><br>
    <section class="features3 cid-sjqrEQdFOK" id="features3-5" style="background-color: white;">
        <div class="container mbr-section-head">
            <h4 class="centrer mbr-fonts-style align-center mb-0 display-2">
                <strong>{{'landing.partenaires' | translate}}</strong>
            </h4> <br><br>


        </div>

        <div class="container" style="margin-right: 5%;" >

            <div class=" row " >
                <div class="item features-image сol-12 col-md-4 col-lg-4" *ngFor="let app of retreivedResponse">
                    <div class="item-wrapper" style="border-radius: 80%; width: 40%;height: 60%;">
                        <div class="item-img">
                            <img [src]="'data:image/png;base64,'+app.partIm" *ngIf="app?.partIm" alt="">
                            <img *ngIf="!app?.partIm" alt="" src="assets/images/file.png">

                        </div>


                    </div><br>
                    <p class="mbr-text mbr-fonts-style mt-3 display-4">&nbsp;&nbsp;{{app?.partNom}}.</p>
                </div>
            </div>

        </div>
    </section>






    <!-- <section class="info3 cid-smasg4uBwa" id="info3-l">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-12 col-lg-10">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <h4 class="card-title mbr-fonts-style align-center mb-4 display-5">
                                <strong>{{'landing.lesServices' | translate}}?</strong></h4>
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                {{'landing.lesServicesDescription' | translate}}.</p>
                            <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" (click)="goToLogin()"
                                    target="_blank">{{'landing.lesServicesDescription1' | translate}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="content17 cid-smaobKzGFE" id="content17-g">


        <div class="container">

            <div class="row justify-content-center">
                <div class="col-12 col-md-12">
                    <div class="section-head align-center mb-4">
                        <h3 class="mbr-section-title mb-0 mbr-fonts-style display-5">
                            <strong>{{'landing.questionnaire' | translate}}</strong>
                        </h3>

                    </div>

                    <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content">
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                    data-core="" href="#collapse1_6" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
                                        <strong>{{'landing.question1' | translate}} ?</strong>
                                    </h6>
                                    <span class="sign mbr-iconfont mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_6" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">{{'landing.reponse1' |
                                        translate}}<br>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                    data-core="" href="#collapse2_6" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
                                        <strong>{{'landing.question2' | translate}}?</strong>
                                    </h6>
                                    <span class="sign mbr-iconfont mbri-arrow-down"></span>
                                </a>

                            </div>
                            <div id="collapse2_6" class="panel-collapse noScroll collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">{{'landing.reponse2' |
                                        translate}}<br>
                                    </p>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features23 cid-sman4cL6PI" id="app-gen" *ngIf="appsPubliees?.length>0">



        <div class="container">
            <div class="row justify-content-center">
                <div class="pb-container">
                    <div class="container-fluid">
                        <h4 class="container-fluid card-title mbr-fonts-style mb-4 display-5">
                            <div class="container-fluid">
                                <strong class="float-left">{{'landing.applicationGenerees' | translate}}</strong>
                            </div>
                            <div class="container-fluid">
                                <strong class="float-right"> <a [routerLink]="['/applicationpubliees']">
                                        {{'landing.appPlus' | translate}}</a></strong>
                            </div>
                        </h4>
                    </div>
                </div>


                <!--  -->

                <div class="pb-container">

                    <a *ngFor="let app of appsPubliees" class="pb-card" target="_blank" [href]="app.appUrl">
                        <img *ngIf="app?.appImg" [src]="'data:image/png;base64,'+app.appImg" alt="">
                        <h3 class="pb-h3-hover">{{app.appNom}}</h3>
                        <p class="small pb-p-hover">
                            <!-- Card description with lots of great facts and interesting details. -->
                            {{('app.description'+app.appId) | translate}}
                        </p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                        <div class="app-name mat-elevation-z2">
                            <h3>{{app.appNom}}</h3>
                        </div>
                    </a>


                </div>



            </div>
        </div>
    </section>


    <section class="form5 cid-sjqthaziJ0" id="form5-7">


        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
                    <strong>{{'landing.contact' | translate}}</strong>
                </h3>

            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                        data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                            value="mQ33ZwPPIzOk3STQka9Wqm1T3UQOPxfgqmMkkfCuOmTeOGaPb3uhM/2/DffO7LJ35s8WKToTVYTaDxwrtIxO1N7VNzZR1dnrHde8lzmAfzTGBeRPTCH+aiGSWwfnN34e">
                        <div class="">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Merci de nous
                                avoir contacté. Nous vous reviendrons dans les plus brefs délais.</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                                some
                                problem!</div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group" data-for="name">
                                <input type="text" name="name" placeholder="{{'landing.nom' | translate}}"
                                    data-form-field="name" class="form-control" value="" id="name-form5-7">
                            </div>
                            <div class="col-md col-sm-12 form-group" data-for="email">
                                <input type="email" name="email" placeholder="{{'landing.email' | translate}}"
                                    data-form-field="email" class="form-control" value="" id="email-form5-7">
                            </div>

                            <div class="col-12 form-group" data-for="textarea">
                                <textarea name="textarea" placeholder="{{'landing.message' | translate}}"
                                    data-form-field="textarea" class="form-control" id="textarea-form5-7"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button
                                    type="submit" class="btn btn-primary display-4">{{'landing.envoieMessage' |
                                    translate}}</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="footer7 cid-sjquiyiMtR" once="footers" id="footer7-8">





        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-4">
                        <!-- © Copyright 2020 - Gainde 2000 -->
                        {{'landing.Copyright' | translate}}
                    </p>

                </div>
            </div>
        </div>
    </section>



</body>

</html>
