
<div class="col-md-12 col-lg-12" *ngIf="profil.proLibelle=='administrateur'">
  <div class="card">
   <div class="card-header" >{{'diagramme.nombreuserparprofil' | translate}}</div>
   <div class="card-body">
    <div class="row">
      <div style="margin-left: auto; margin-right: 0;">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
        <mat-icon>more_vert</mat-icon> 
      </button>
      <button mat-button [matMenuTriggerFor]="menu"></button>
      <mat-menu #menu="matMenu">
          
      </mat-menu>
      
      </div>
    </div>
    <div [chart]="chart3d"></div>
   </div>
  </div>

</div>

<div class="col-md-12 col-lg-12" *ngIf="profil.proLibelle=='demandeur'">
  <div class="card">
  <div class="card-header" style="background-color: #e2e8ee;font-weight: 500;">{{'diagramme.nombredossier' | translate}}</div>
  <div class="card-body">
    <div  [chart]="chart3d"></div>
  </div> 
  </div>
  </div>

  <div class="col-md-12 col-lg-12" *ngIf="profil.proLibelle=='traitant_n1' || profil.proLibelle=='traitant_N2'">
    <div class="card">
     <div class="card-header" style="background-color: #e2e8ee;font-weight: 500;">{{'diagramme.nombredossier' | translate}}</div>
     <div class="card-body">
      <div [chart]="chart3d"></div>
     </div>
    </div> 
  </div>
